{% extends "layouts/home.html" %}
{% load static %}
{% load i18n allauth account %}

{% block title_page %}
    {% trans "Verify Your Email Address" %}
{% endblock %}

{% block content %}
<div class="card bg-base-100 shadow-xl border border-base-200 w-full animate-fade-in">
    <div class="card-body gap-6 p-10 text-center">
        <div class="flex justify-center mb-2">
            <a href="/">
                <img alt="Logo" src="{% static 'assets/images/logos/logo.png' %}" class="h-10" />
            </a>
        </div>
        
        <h2 class="card-title justify-center text-2xl font-bold">{% trans "Verify Your Email" %}</h2>
        <div class="flex flex-col gap-4 opacity-70">
            <p>{% trans "We have sent a verification email to your address." %}</p>
            <p>{% trans "Please follow the link in that email to complete your registration." %}</p>
        </div>

        <div class="card-actions justify-center mt-6">
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">
                {% trans "Return to login" %}
            </a>
        </div>
    </div>
</div>
{% endblock content %}
