DEBUG=True
SECRET_KEY=your_secret_key
DJANGO_SETTINGS_MODULE=config.settings.development

ALLOWED_HOSTS=*
SENTRY_DSN=

# PostgreSQL (Docker)
POSTGRES_DB=django
POSTGRES_USER=django
POSTGRES_PASSWORD=django

# Host ports
DJANGO_PORT=8000
WEB_CONCURRENCY=3

EMAIL_HOST=live.smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL="Project Name.us <site@project-name.com>"
