{% load i18n %}

<nav>
    <ol class="flex items-center gap-2">
        {% for crumb in breadcrumbs %}
            <li class="font-medium text-black dark:text-white">
                {% if not forloop.last %}
                    <a class="flex items-center gap-2 text-primary" href="{{ crumb.url }}">
                        {{ crumb.title }}
                        <span> / </span>
                    </a>
                {% else %}
                    {{ crumb.title }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
