{% extends "layouts/dashboard.html" %}
{% load static %}
{% load i18n %}

{% block title_page %}{% trans "Oil Analysis" %}{% endblock title_page %}
{% block toolbar_title %}{% trans "Oil Analysis" %}{% endblock %}

{% block content %}
<div
    id="dashboard-root"
    data-data-url="{% url 'apps.dashboard:data' %}"
    class="flex flex-col gap-6"
>
    {% include "dashboard/includes/filters.html" %}
    {% include "dashboard/includes/tabs.html" %}
</div>

{{ dashboard_data|json_script:"dashboard-data" }}
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock extra_js %}
