{% extends "layouts/dashboard.html" %}
{% load static %}
{% load i18n %}

{% block title_page %}{% trans "Settings" %}{% endblock title_page %}
{% block toolbar_title %}{% trans "Account Settings" %}{% endblock %}

{% block content %}
<div class="mx-auto max-w-270">
    <form method="post" enctype="multipart/form-data" id="settings-form">
        {% csrf_token %}
        <div class="grid grid-cols-5 gap-8">
            <div class="col-span-5 xl:col-span-3">
                <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                    <div class="border-b border-stroke py-4 px-7 dark:border-strokedark">
                        <h3 class="font-medium text-black dark:text-white">
                            {% trans "Personal Information" %}
                        </h3>
                    </div>
                    <div class="p-7">
                        <div class="mb-5.5 flex flex-col gap-5.5 sm:flex-row">
                            <div class="w-full sm:w-1/2">
                                <label class="mb-3 block text-sm font-medium text-black dark:text-white" for="id_first_name">
                                    {% trans "First Name" %}
                                </label>
                                <div class="relative">
                                    <span class="absolute left-4.5 top-4">
                                        <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g opacity="0.8">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.72039 12.887C4.50179 12.1056 5.5616 11.6666 6.66667 11.6666H13.3333C14.4384 11.6666 15.4982 12.1056 16.2796 12.887C17.061 13.6684 17.5 14.7282 17.5 15.8333V17.5C17.5 17.9602 17.1269 18.3333 16.6667 18.3333C16.2064 18.3333 15.8333 17.9602 15.8333 17.5V15.8333C15.8333 15.1703 15.5699 14.5344 15.1011 14.0655C14.6323 13.5967 13.9964 13.3333 13.3333 13.3333H6.66667C6.00363 13.3333 5.36774 13.5967 4.8989 14.0655C4.43006 14.5344 4.16667 15.1703 4.16667 15.8333V17.5C4.16667 17.9602 3.79357 18.3333 3.33333 18.3333C2.8731 18.3333 2.5 17.9602 2.5 17.5V15.8333C2.5 14.7282 2.93899 13.6684 3.72039 12.887Z" fill=""/>
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 1.66666C8.15905 1.66666 6.66667 3.15904 6.66667 4.99999C6.66667 6.84094 8.15905 8.33332 10 8.33332C11.841 8.33332 13.3333 6.84094 13.3333 4.99999C13.3333 3.15904 11.841 1.66666 10 1.66666ZM5 4.99999C5 2.23857 7.23858 0.333328 10 0.333328C12.7614 0.333328 15 2.23857 15 4.99999C15 7.76141 12.7614 9.99999 10 9.99999C7.23858 9.99999 5 7.76141 5 4.99999Z" fill=""/>
                                            </g>
                                        </svg>
                                    </span>
                                    <input class="w-full rounded border border-stroke bg-gray py-3 pl-11.5 pr-4.5 text-black focus:border-primary focus-visible:outline-none dark:border-strokedark dark:bg-meta-4 dark:text-white dark:focus:border-primary"
                                           type="text" name="first_name" id="id_first_name" value="{{ user.first_name }}" required />
                                </div>
                            </div>

                            <div class="w-full sm:w-1/2">
                                <label class="mb-3 block text-sm font-medium text-black dark:text-white" for="id_last_name">
                                    {% trans "Last Name" %}
                                </label>
                                <input class="w-full rounded border border-stroke bg-gray py-3 px-4.5 text-black focus:border-primary focus-visible:outline-none dark:border-strokedark dark:bg-meta-4 dark:text-white dark:focus:border-primary"
                                       type="text" name="last_name" id="id_last_name" value="{{ user.last_name }}" />
                            </div>
                        </div>

                        <div class="mb-5.5">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white" for="emailAddress">
                                {% trans "Email Address" %}
                            </label>
                            <div class="relative">
                                <span class="absolute left-4.5 top-4">
                                    <svg class="fill-current" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.8">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M3.33333 4.16667C2.8731 4.16667 2.5 4.53977 2.5 5V15C2.5 15.4602 2.8731 15.8333 3.33333 15.8333H16.6667C17.1269 15.8333 17.5 15.4602 17.5 15V5C17.5 4.53977 17.1269 4.16667 16.6667 4.16667H3.33333ZM1.66667 5C1.66667 4.07953 2.41286 3.33333 3.33333 3.33333H16.6667C17.5871 3.33333 18.3333 4.07953 18.3333 5V15C18.3333 15.9205 17.5871 16.6667 16.6667 16.6667H3.33333C2.41286 16.6667 1.66667 15.9205 1.66667 15V5Z" fill=""/>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.22301 4.45592C1.55551 4.13588 2.08312 4.14607 2.40316 4.47857L10 12.334L17.5968 4.47857C17.9169 4.14607 18.4445 4.13588 18.777 4.45592C19.1095 4.77597 19.1197 5.30358 18.7996 5.63608L10.6014 14.1533C10.2709 14.4966 9.72914 14.4966 9.39859 14.1533L1.20041 5.63608C0.880365 5.30358 0.890558 4.77597 1.22301 4.45592Z" fill=""/>
                                        </g>
                                    </svg>
                                </span>
                                <input class="w-full rounded border border-stroke bg-gray py-3 pl-11.5 pr-4.5 text-black focus:border-primary focus-visible:outline-none dark:border-strokedark dark:bg-meta-4 dark:text-white dark:focus:border-primary opacity-70 cursor-not-allowed"
                                       type="email" name="email" id="emailAddress" value="{{ user.email }}" disabled />
                            </div>
                            <p class="mt-1.5 text-xs italic">{% trans "Email cannot be changed" %}</p>
                        </div>

                        {% if user.is_account and account_form %}
                        <div class="mb-5.5 pt-4 border-t border-stroke dark:border-strokedark">
                            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                {% trans "Account Information" %}
                            </label>
                            <div class="flex flex-col gap-4 sm:flex-row sm:items-center">
                                <div class="flex items-center gap-3">
                                    <span class="text-sm opacity-70">{% trans "Type:" %}</span>
                                    {% if user.account.is_organization %}
                                        <span class="rounded bg-primary bg-opacity-10 py-1 px-3 text-sm font-medium text-white">{% trans "Organization" %}</span>
                                    {% else %}
                                        <span class="rounded bg-success bg-opacity-10 py-1 px-3 text-sm font-medium text-white">{% trans "Individual" %}</span>
                                    {% endif %}
                                </div>
                                {% if user.account.parent_account %}
                                <div class="flex items-center gap-3">
                                    <span class="text-sm opacity-70">{% trans "Parent:" %}</span>
                                    <span class="text-sm font-medium text-black dark:text-white">{{ user.account.parent_account.user.get_full_name }}</span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}

                        <div class="flex justify-end gap-4.5">
                            <a href="{{ back_url }}" class="flex justify-center rounded border border-stroke py-2 px-6 font-medium text-black hover:shadow-1 dark:border-strokedark dark:text-white">
                                {% trans "Cancel" %}
                            </a>
                            <button class="flex justify-center rounded bg-primary py-2 px-6 font-medium text-white hover:bg-opacity-90"
                                    type="submit" id="save-button">
                                <span id="save-text">{% trans "Save Changes" %}</span>
                                <span id="save-loading" class="hidden">{% trans "Saving..." %}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-span-5 xl:col-span-2 flex flex-col gap-8">
                <!-- Avatar Card -->
                <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                    <div class="border-b border-stroke py-4 px-7 dark:border-strokedark">
                        <h3 class="font-medium text-black dark:text-white">
                            {% trans "Your Photo" %}
                        </h3>
                    </div>
                    <div class="p-7">
                        <div class="mb-4 flex items-center gap-3">
                            <div class="h-14 w-14 rounded-full overflow-hidden border border-stroke dark:border-strokedark">
                                <img id="avatar-preview" src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'assets/images/avatars/blank.png' %}{% endif %}" alt="User" class="h-full w-full object-cover">
                            </div>
                            <div>
                                <span class="mb-1.5 text-black dark:text-white font-medium">{% trans "Edit your photo" %}</span>
                                <span class="flex gap-2.5">
                                    <button type="button" id="remove-avatar" class="text-xs hover:text-danger {% if not user.avatar %}hidden{% endif %}">{% trans "Delete" %}</button>
                                    <button type="button" id="update-avatar-btn" class="text-xs hover:text-primary">{% trans "Update" %}</button>
                                </span>
                            </div>
                        </div>

                        <div id="FileUpload" class="relative mb-5.5 block w-full cursor-pointer appearance-none rounded border border-dashed border-primary bg-gray py-4 px-4 dark:bg-meta-4 sm:py-7.5">
                            <input type="file" name="avatar" id="avatar-input" accept=".png, .jpg, .jpeg"
                                   class="absolute inset-0 z-50 m-0 h-full w-full cursor-pointer p-0 opacity-0 outline-none" />
                            <div class="flex flex-col items-center justify-center space-gap-3">
                                <span class="flex h-10 w-10 items-center justify-center rounded-full border border-stroke bg-white dark:border-strokedark dark:bg-boxdark">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.33333 11.3333V12.6667C1.33333 13.3333 1.33333 14 2 14.6667C2.66667 15.3333 3.33333 15.3333 4 15.3333H12C12.6667 15.3333 13.3333 15.3333 14 14.6667C14.6667 14 14.6667 13.3333 14 12.6667V11.3333" stroke="#3C50E0" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M10.6667 4.66667L8 2L5.33333 4.66667" stroke="#3C50E0" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M8 2V10.6667" stroke="#3C50E0" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                                <p class="text-sm mt-2 text-center">
                                    <span class="text-primary">{% trans "Click to upload" %}</span>
                                    <br> {% trans "or drag and drop" %}
                                </p>
                            </div>
                        </div>

                        <input type="hidden" name="avatar_remove" id="avatar-remove-input" value="" />
                    </div>
                </div>

                <!-- Security Card -->
                <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                    <div class="border-b border-stroke py-4 px-7 dark:border-strokedark">
                        <h3 class="font-medium text-black dark:text-white">
                            {% trans "Security" %}
                        </h3>
                    </div>
                    <div class="p-7">
                        <p class="text-sm mb-6 opacity-70">
                            {% trans "Protect your account by ensuring your password is strong and updated regularly." %}
                        </p>
                        <a href="{% url 'account_change_password' %}" class="flex w-full justify-center rounded bg-primary bg-opacity-10 py-2 px-6 font-medium text-white hover:bg-opacity-20 transition-all">
                            {% trans "Change Password" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const avatarInput = document.getElementById('avatar-input');
        const avatarPreview = document.getElementById('avatar-preview');
        const removeAvatarBtn = document.getElementById('remove-avatar');
        const updateAvatarBtn = document.getElementById('update-avatar-btn');
        const avatarRemoveInput = document.getElementById('avatar-remove-input');
        const settingsForm = document.getElementById('settings-form');
        const saveButton = document.getElementById('save-button');
        const saveText = document.getElementById('save-text');
        const saveLoading = document.getElementById('save-loading');
        const fileUploadBox = document.getElementById('FileUpload');

        // Make the whole dashed box clickable
        if (fileUploadBox) {
            fileUploadBox.addEventListener('click', () => {
                avatarInput.click();
            });
        }

        if (updateAvatarBtn) {
            updateAvatarBtn.addEventListener('click', (e) => {
                e.preventDefault();
                avatarInput.click();
            });
        }

        avatarInput.addEventListener('change', (e) => {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = (event) => {
                    avatarPreview.src = event.target.result;
                    avatarRemoveInput.value = '';
                    if (removeAvatarBtn) removeAvatarBtn.classList.remove('hidden');
                };
                reader.readAsDataURL(file);
            }
        });

        if (removeAvatarBtn) {
            removeAvatarBtn.addEventListener('click', (e) => {
                e.preventDefault();
                avatarPreview.src = "{% static 'assets/images/avatars/blank.png' %}";
                avatarInput.value = '';
                avatarRemoveInput.value = '1';
                removeAvatarBtn.classList.add('hidden');
            });
        }

        settingsForm.addEventListener('submit', () => {
            saveButton.disabled = true;
            saveText.classList.add('hidden');
            saveLoading.classList.remove('hidden');
        });
    });
</script>
{% endblock extra_js %}
